{% extends 'lifecourse/base.html' %}

{% block title %}
{{ title }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#department-select').change(function() {
                var departmentId = $(this).val();
                $.ajax({
                    url: '/departments/' + departmentId + '/groups/',
                    success: function(data) {
                        $('#group-list').html(data);
                    }
                });
            });
        });
        $(document).ready(function() {
            $('#add-group-form').submit(function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '/add_group/',
                    data: formData,
                    success: function(data) {
                        alert('Group added successfully!');
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
        <h4>Новости</h4>
    {% for el in tasks %}
        <div></div>
            <h5>{{ el.title }}</h5>
            <p>{{ el.task }}</p>
    {% endfor %}
{% endblock %}