{% extends 'lifecourse/base.html' %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}



    <div style="margin-left: 2.5%">
        <h1>Регистрация Вуза</h1>
        <p>Проидите регистрацию Вуза</p>
        <form action = "/vuses/meepo/"method="post">
            {% csrf_token  %}
            <label for="vusname">Имя Вуза</label>
            <input type="text" id="vusname" name="name" required>



            <button type="submit" class = "btn btn-success">Зарегистрироваться</button>
            <span>{{ error }}</span>
        </form>
    </div>
{% endblock %}